@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">UNIWONK</h4>
    <h5 class="display-5">University of Wonk</h5>
    <h6 class="display-6">Voracious For Knowledge.....</h6>
     <img src="/management.jpg" alt="logo" width="15%" height="15%">
    <style>
        h6{
            color: cornflowerblue
            text-transform: capitalize;
            text-decoration: solid underline;
        }
        h5{
            color: cornflowerblue
            text-transform: capitalize;
            text-decoration: solid underline;
        }
        h4{
            color: white
            text-transform: capitalize;
            text-decoration: solid underline;
        }
        p{
            color: whitesmoke;
            text-transform: capitalize;
            text-decoration: solid underline;
            
        }
        h5:hover{
            color: rgb(43, 226, 217);
            text-transform: uppercase;
        }
          h6:hover{
            color: rgb(43, 226, 198);
            text-transform: uppercase;
        }
          h3:hover{
            color: rgb(43, 226, 171);
            text-transform: uppercase;
            text-decoration:solid dotted
            
        }
        img{
            padding: 20;
            border-radius: 20%;
            background-color: goldenrod;
              
        }
        img:hover{
            color: goldenrod;
        }
    </style>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

