@using UniversityManagementMvc.Data.Entities
@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] UniversityManagementApp</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <style media="screen">
        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            background-color: mistyrose;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            display: flex;
        }

        .background .shape {
            height: 150px;
            width: 150px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(pink,
                    pink);
            right: -80px;
            top: -80px;
        }

        .shape:second-child {
            background: linear-gradient(to center,
                    #2f82ff,
                    #1984f0);
            center: -30px;
            center: -80px;
        }

        .shape:last-child {
            background: linear-gradient(to right,
                    pink,
                    pink);
            left: -30px;
            bottom: -80px;
        }

        form {
            height: 520px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        #email:valid,
        #pass:valid {
            color: rgb(13, 180, 13);
            border: solid rgb(92, 90, 13) 1.5px;
        }

        #email:invalid,
        #pass:invalid {
            color: rgb(35, 37, 61);
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgb(169, 232, 234);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        input::placeholder {
            color: grey;
            font-style: italic;
        }

        @*::placeholder{color:#e5e5e5;}*@button {
            margin-top: 50px;
            width: 100%;
            background-color: cornflowerblue;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        button :hover {
            color: #159fc5;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

        .social div {
            background: rgb(149, 255, 0);
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: pink;
            color: goldenrod;
            text-align: center;
        }

        .social div:hover {
            background-color: cadetblue;
        }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }
    </style>
</head>

<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>


    </div>
    <style>
        @*div{background-color:ghostwhite;}*@
    </style>
    <form asp-action="LogIn" enctype="multipart/form-data">
        @if (TempData.Peek("success") != null)
        {
            <h4 id="overlay"><i style="color: green;">@TempData["success"]</i></h4>
        }
        <h3 style="color: goldenrod; text-decoration: underline;">Login</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (TempData.Peek("logmessage") != null)
        {
            <h4 style="color: rgb(119, 255, 0); text-align: center;">@TempData["logmessage"]</h4>
        }



        <label asp-for="Email" for="username" style="color: #1845ad;">Email</label>
        <input id="email" asp-for="Email" type="email">
        <span asp-validation-for="Email" class="text-danger"></span>

        
            <label asp-for="PassWord" for="password" style="color:#1845ad"></label>
            <input asp-for="PassWord" type="password" id="pass" name="password" class="form-control" />
            <span asp-validation-for="PassWord" class="text-danger"></span>
        
        <button type="submit" value="Submit">Login</button>
        
        @if (TempData.Peek("message") != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@TempData.Peek("message")")
                }
            </script>
        }
    </form>
    @* <div class="social">
            <div class="go" style="color: cornflowerblue;"><a asp-controller="Create" asp-action="Privacy"> Privacy
                    Policy</a></div> &nbsp; &nbsp;
            <div class="go" style="color: cornflowerblue;"><a asp-controller="Home" asp-action="Index">Home</a></div>
        </div> *@
</body>

</html>